<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Demo Socket</title>

  <script src="jquery.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="xuly.js"></script>
  <link rel="stylesheet" type="text/css" href="layout0.css"/>
  </head>
  <body>
      <div id="loginForm">
        <input type="text" name="Username"  id="txtUsername"/>
        <input type="button" name="button" value="Create Room" id="btnCreate"/>
      <div id="left">
        <h3>Room</h3>
        <div id="list-room">
      </div>
       <h4 id="Room-now"></h4>
      <div id="right">
      </div>
      <input type="text" name="" value="txtMessage"/>
      <input type="button" id="btnSend" value="Send"/>
      </div>


  </body>
</html>
