<!DOCTYPE html>
<html>

<head>
  <title></title>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src='https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js'></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src='https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js'></script>

  <script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
      apiKey: 'AIzaSyAN0XorVk1FtbrO0TcsPksqaVfwF0LX-0I',
      authDomain: 'fir-demo-3ad41.firebaseapp.com',
      projectId: 'fir-demo-3ad41',
      storageBucket: 'fir-demo-3ad41.appspot.com',
      messagingSenderId: '431497650201',
      appId: '1:431497650201:web:46acb508534f6717318a88',
      measurementId: 'G-MB211WSZMP'
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>

<body>
  <div class="container">
  <h1>Chat App</h1>
  <p>Login with Firebase</p>
  <!-- <p>Add Restaurant <input id= "addRestaurant"/></p>
  <button class="btn btn-primary" onclick="addRestaurant()">Submmit</button> -->
  
  <h3 id="google-display-name"></h3>
  <img id="google-pic">
  <p id= "google-email"></p>
 <button id="google-sign-in" onclick="signInWithGoogle()">Sign In With Google</button> 
  <!-- <button id="google-sign-in" onclick="signInWithFaceBook()">Sign In With FaceBook</button>
  <button id = "google-sign-out" onclick="singOutGoogle()" >Sign Out</button> --> 
  <button id = "result" onclick="location.href = 'https://maca-chat-app.herokuapp.com/trangchu'" >Result</button>
 </div>
  <script src="firebaseAuth.js"> </script>
</body>
</head>

</html>