<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Demo Socket</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="jquery.js"></script>
  <script src="https://maca-chat-app.herokuapp.com/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="xuly.js"></script>
  <link rel="stylesheet" type="text/css" href="layout.css"/>
  </head>
  <body>
    <div id="wrapper">
      <div id="loginForm">
        <h3>What's your name</h3>
        <input type="text" name="Username"  id="txtUsername"/>
        <input type="button" name="button" value="Register" id="btnRegister"/>
      </div>
    <div id="chatForm">
        <div id="left">
          <div id="boxTitle">Users Online</div>
          <div id="boxContent"></div>
        </div>
        <div id="right">

          <div id="sayHi">
            <a class="btn btn-primary" id="chatroom-change" role="button" href="/chatroom.ejs">Chat Room</a>
            <a class="btn btn-primary" id="videocall-change" role="button" href="/videocall.ejs">Video Call Room</a>
            Hello <span id="currentUser">Teo</span>
            <input type="button" name="" value="Logout" id="btnLogout">
          </div>
          <div id="room-now">
            <div class="container"  id="listMessages">
          </div>
          <div id="thongbao"></div>
          <input type="text" name="" value="" id="txtMessage"/>
          <input type="button" name="" value="Send" id="btSendMessage" value="Send">
        </div>
      </div>

      </div>

  </body>
</html>
