<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Video Call</title>
  </head>
  <body>
      <h1> Video Call </h1>
      <video id="localStream" width="300" controls></video>
      <br></br>
      <video id="friendStream" width="300" controls></video>

      <textarea row="30" clos ="100" id="txtMySignal"></textarea>
      <br></br>
      <input type="text" placeholder="Your friend token" id = "txtFriendSignal">
      <button id="btnConnect">Connect</button>
  </body>
  <script src="bundle.js"></script>
  </script>
</html>
